*{
  box-sizing: border-box;
}
html{
    font-size:16px;/*tamñado de la fuente*/
  }
body{
    font-family: Open Sans, sans-serif; /*fuente de tipo de texto*/
  }
.label{
    border: 2px solid black; 
    width: 270px;
    margin: 20px auto;
    padding: 0 7px;
}
header h1{
  text-align: center;
  margin: -4px 0;
  letter-spacing:0.15px; /*para dar espacio entre un texto*/
}

p{
  margin: 0;
  display:flex;
  justify-content:space-between;/*crea una espacio en medio de un texto en linea o de una caja*/
}

.divider{
  border-bottom: 1px solid #888989;
  margin: 2px 0;
}
.bold{
  font-weight: 800;/*define el grosor o "peso" de una fuente, determinando si el texto se ve más o menos negrita*/
}

.large{
  height:10px;
}
.large, .medium{
  background-color:black;
  border: 0;
}
.small-text{
  font-size:0.85rem;
}
.calories-info h2{
  margin: 0;
}